<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>Login</title>
    <style>
        body {
            font-family: arial;
            margin: 0;
        }

        nav {
            background: #1F2A40;
            padding: 20px 10px;
        }

        nav ul {
            max-width: 960px;
            margin: 0 auto;
            padding: 0;
        }

        nav li {
            list-style-type: none;
            display: inline-block;
            margin: 0 10px 0 0;
        }

        nav a {
            color: #92A649;
            font-size: 18px;
            background: rgba(255, 255, 255, 0.2);
            text-decoration: none;
            padding: 10px;
            display: block;
        }


        main,
        header {
            background: #F2E8DF;
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
        }

        body {
            background: #F2E8DF;
        }

        p {
            padding-left: 10%;
        }

        .imageBody {
            align-self: center;
            padding-left:50%;
        }
        .form {
            padding-left: 10%;
           
        }
        #boxes{
            padding-left: 10%;
           
        }

      
    </style>
     <!-- The core Firebase JS SDK is always required and must be listed first -->
     <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-app.js"></script>
     <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-auth.js"></script>
     <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-firestore.js"></script>
     <script src="https://www.gstatic.com/firebasejs/5.9.1/firebase-storage.js"></script>
   <!-- <script language="javascript" type="text/javascript" src="../handlers/returnItems.js"></script> -->
       <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="semantic/dist/semantic.min.js"></script>
</head>


<body>
    <nav>
        <ul>
            <li><a href="login">Login</a></li>
            <li><a href="/">Homepage</a></li>
        </ul>
    </nav>

    <div id = boxes class="ui left icon input">
        <input type="text" placeholder="enter description one ..">
      </div>


<p>Model file for upload</p>
<div class = form>
    <form  action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="filetoupload"><br>
        <input type="submit">
   </form>
</div>
</body>

</html>
