<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <style>
        body {
            font-family: arial;
            margin: 0;
        }

        nav {
            background: #ff5353;
            padding: 20px 10px;
        }

        nav ul {
            max-width: 960px;
            margin: 0 auto;
            padding: 0;
        }

        nav li {
            list-style-type: none;
            display: inline-block;
            margin: 0 10px 0 0;
        }

        nav a {
            color: #fff;
            font-size: 18px;
            background: rgba(255, 255, 255, 0.2);
            text-decoration: none;
            padding: 10px;
            display: block;
        }

        main,
        header {
            max-width: 960px;
            margin: 30px auto;
            padding: 0 10px;
            color: #333;
        }

        .google-btn {
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            padding: 10px;
            background: #ff5353;
        }
    </style>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.9.3/firebase-firestore.js"></script>

</head>

<body>
    <nav>
        <ul>
            <li><a href="login">Login</a></li>
            <li><a href="/">Homepage</a></li>
        </ul>
    </nav>
    <header>
        <h1>Login using...</h1>
    </header>
    <main>
        <form action="/authenticate" method="POST">
            <h3>Log-in</h3>
            <div class="field">
                <label>Email</label> <input placeholder="Email" name="email">
            </div>
            </br>
            <div class="field">
                <label>Password</label> <input type="password" , placeholder="password" name="password">
            </div>
            </br>
            <input type="submit" value="Login" />
        </form>
        </br>
        </br></br>
        <a class="google-btn" href="/auth/google">Google+</a>
    </main>


</body>

</html>